<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <header>
        <ul>
            <li><a href="/buyerloggedin">Gallery</a></li>
            <li><a href="/buyerloggedin">Auction Cart</a></li>
            <li><a href="/login">Logout</a></li>
            <li><a href="/login">Login</a></li> 
            <li><a href="/artistlogin">Artist</a></li>

        </ul>
    </header>
      <div class="banner">
    <h1>{{title}}</h1>
<p>Ceci, c'est ne pas un auction.</p>
  </div>
  <body>
    {{{body}}}
  </body>
</html>
